@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: "Merriweather", serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* font-family: "Inter", sans-serif; */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* banner section styles */
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-image: url("/images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content p, h1{
    color: white;
}
.banner-content p{
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}
.banner-content h1{
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
/* main section start */
.main-section-start{
    max-width: 600px;
    min-height: 400px;
    margin: 50px auto 0px;
    margin-bottom: 60px;
}
.main-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main-content h2{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 15px;
}
.main-content p{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}
.main-content h4{
    color: rgb(7, 2, 17);
    font-family: "Inter", sans-serif;    
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;

}
.main-image img{
    width: 600.9px;
}
/* midnight-party start */
.midnight-party{
    display: flex;
    align-items: center;
    gap: 80px;
}
.midnight-party{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-image: url('/images/party.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}
.midnight-content{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.midnight-content h2{
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 20px;
}
.midnight-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}
.midnight-content span{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.midnight-party .image-tag{
    width: 349.16px;
    height: 464.65px;
}
.midnight-party .image-tag img{
    width: 100%;
    height: 100%;
}
/* date and time start */

.bg-date-time{
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    min-height: 400px;
    margin: 0 auto;
    border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
margin-bottom: 60px;
}
.strat-dtae-time{
    width: 500px;
}
.strat-dtae-time h4{
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
}
.strat-dtae-time span{
    color: rgb(255, 0, 0);
}
/* end and time start */

/* NEW BEST OFFER  start*/
.new-best-offer-content{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
.new-best-offer{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 400px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-best-child{
    width: 330px;
}
.new-best-child h5{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.new-best-child h2{
    color: rgb(7, 2, 17);
    font-family: "Merriweather", serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
.new-best-child p{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.image-border{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-best-image img{
    width: 250px;
    border: 2px dashed lightgray;
}
.new-best-title-image{
    width: 300px;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.new-best-title-image h2{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.new-best-title-image p{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* holidays-container start  */
/* .holidays-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto; 
    position: relative;
    margin-bottom: 200px;
}
.holiday-content{
    width: 830px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.holiday-content h6{
    color: rgb(7, 2, 17);
    font-family: "Inter", sans-serif;   
    font-size: 16px;
    font-weight: 500;  
    text-align: center; 
    margin-bottom: 10px;
}
.holiday-content h2{
    font-family: "Merriweather", serif;    
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}
.holiday-content h2 .color-text{
    color:rgb(255, 0, 0);
}
.holiday-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
} */
/* gift box style */
/* .border-box{
    width: 1320px;
    height: 250px;
    background-color: red;
    position: absolute;
    top: 90%;
    
}
.gift-box{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.cricle-border{
    width: 305.69px;
    height: 305.69px;
    position: relative;
} */
.the-best-gifts{
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.awesome-porfolio{
    width: 876px;
    height: 64px;
    margin-bottom: 50px;
}
.awesome-porfolio h5{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;   
    font-size: 16px;
    font-weight: 500;
}
.awesome-porfolio h2{
    color: rgb(7, 2, 17);
    font-family: "Merriweather", 
    serif;font-size: 40px;
    font-weight: 800;
}
.awesome-porfolio p{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}
.img-box{
    width: 380px;
    height: 450px;
}
/* .img-box img{
    width: 100%;
} */
.awesome-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* subscribe-now  start*/
.subscribe-now{
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-container{
    width: 730px;
    height: 336px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;  
}
.image-center{
    display: flex;
    justify-content: center;
    align-self: center;
}
.image-center img{
    width: 100px;
    height: 100px; 
}
.subscribe-container h2{
    color: rgb(7, 2, 17);
    font-family: "Merriweather", serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.subscribe-container p{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;    
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;

}
.input-btn{
    width: 648px;
    height: 72px;
    margin: 0 auto;
    text-align: center;
}
.input-btn input{
    width: 70%;
    padding: 15px 15px;
    background-color: white;
    border-radius: 25px 0 0 25px;
    border: none;
}
.btn{
    background-color:  rgb(255, 0, 0);
    color: white;
    border: none;
    width: 100px;
    height: 45px;
    border-radius: 0px 25px 25px 0px;
}